<h1><%= @post.title %></h1>
<p><%= @post.description %></p>

<ul>
  <li><%= link_to 'Edit, Yo!', edit_post_path(@post) %></li>
  <li><%= link_to 'Get rid of', post_path(@post), method: :delete %></li>
</ul>

